@font-face {
  font-family: MontserratBold;
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf");
}
* {
  box-sizing: border-box;
  font-family: MontserratBold, Arial, Helvetica, sans-serif;
  margin: 0;
  color: #333;
}


header {
  justify-content: space-around;
  align-items: center;
  height: 120px;
  display: flex;
  width: 100%;
  background-color: #f1f2f5;
}
.header-item {
  display: flex;
  gap: 30px;
}
.header-item:last-child {
  gap: 20px;
}
.header-item span {
  cursor: pointer;
  transition: scale .5s, text-shadow 1s;
}
.header-item span:hover {
  text-shadow: 2px 2px 5px #777;
  scale: 1.2;
}
.logo {
  width: 70px;
  height: 70px;
  margin-top: -25px;
}
.title {
  font-size: 50px;
  line-height: 70px;
  text-shadow: 2px 2px 3px #555;
}


.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 189, 53, 1) 0%,
    rgba(237, 148, 0, 1) 50%,
    rgba(255, 189, 53, 1) 100%
  );
  padding: 10px 0px;
}
.actions button {
  background-color: transparent;
  border-radius: 7px;
  border: 1px solid #fff;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
}
.actions button .icon {
  transition: all 0.5s;
  color: #fff;
}
.actions button:hover {
  background-color: #fff;
  color: #000;
}
.actions button:hover .icon {
  color: #000;
}
.actions .icon {
  margin-right: 10px;
}


.panel {
  display: flex;
  width: 100%;
}
.panel img {
  width: 100%;
}


.phrase {
  display: flex;
  justify-content: center;
  padding: 120px 150px;
}
.phrase-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.phrase-text {
  font-size: 40px;
  text-align: center;
}
.know-more {
  margin-top: 20px;
  text-decoration: none;
  color: #ff9800;
  font-size: 22px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.phrase-image img {
  height: 250px;
}


.numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 120px 0px;
  background: linear-gradient(315deg, #172e36 0%,#158561 60%, #2c3132 100%);
}
.numbers-item {
  display: flex;
  flex-direction: column;
}
.numbers-item h2 {
  font-size: 70px;
  color: #ff9800;
  text-align: center;
}
.numbers-item p {
  text-align: center;
  color: #fff;
  font-size: 18px;
}


.products {
  display: flex;
  flex-direction: column;
  padding: 100px 0px;
}
.products h3 {
  font-size: 40px;
  text-align: center;
}
.products-subtitle {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.products-subtitle p {
  text-align: center;
  width: 600px;
}
.products p {
  font-size: 14px;
  color: #222;
  margin-bottom: 15px;
}
.products-board {
  display: flex;
  justify-content: center;
}
.board-item {
  padding: 30px;
  background: linear-gradient(90deg, #dfdfdf 0%, #eef2f3 100%);
  width: 450px;
  cursor: pointer;
  transition: all 1s;
}
.board-item:nth-of-type(2) {
  border-right: 1px solid #d8d9dc;
  border-left: 1px solid #d8d9dc;
}
.board-item:hover {
  z-index: 1000;
  background: radial-gradient(circle, #158561 0%, #2c3132 100%);
  color: #fff;
  scale: 1.05;
}
.board-item:hover .icon,
.board-item:hover p,
.board-item:hover h4 {
  color: #fff;
}
.board-item .icon {
  font-size: 70px;
  color: #ff9800;
}
.board-item h4 {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  margin-top: 20px;
  font-size: 20px;
}
.board-item p {
  padding-top: 40px;
  text-align: justify;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.board-item:nth-child(1) .icon {
  margin-left: -8px;
}
.board-item:nth-child(2) .icon {
  margin-left: -10px;
}
.board-item:nth-child(3) .icon {
  margin-left: -17px;
}


.team {
  display: flex;
  flex-direction: column;
}
.team-subtitle {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.team-subtitle p {
  text-align: center;
  width: 600px;
  margin-bottom: 50px;
}
.team h3 {
  font-size: 40px;
  text-align: center;
}
.people {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 7px #999;
  width: 300px;
  transition: all .5s;
  justify-content: space-between;
}
.person:hover {
  box-shadow: 5px 5px 9px #555;
}
.person-image {
  width: 100%;
  display: flex;
}
.person-image img {
  width: 100%;
  object-fit: contain;
}
.person-profile {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.person-profile span {
  font-size: 16px;
  margin-top: 5px;
}
.person-profile h5 {
  font-size: 14px;
  color: #ff9800;
}
.person-button {
  width: 100%;
  border: none;
  padding: 10px 0px;
  font-size: 14px;
  background-color: #00cc83;
  color: #fff;
  cursor: pointer;
}
.person-button:hover {
  background-color: #009c66;
}


.services {
  padding: 100px 0px;
}
.services h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.service-board {
  display: flex;
  flex-direction: column;
}
.service-row {
  display: flex;
  padding: 30px 0px;
  justify-content: center;
  gap: 150px;
}
.service-item {
  width: 600px;
  padding: 10px 30px;
  text-align: justify;
  display: flex;
  transition: all .5s;
  border-left: 10px solid #00cc83;
  background-color: none;
}
.service-item:hover {
  background: linear-gradient(90deg, #eef2f3 0%, #dfdfdf 100%);
  border-left: 15px solid #00cc83;
}
.service-item img {
  width: 80px;
  height: 80px;
  margin: auto 20px auto 0px;
}
.service-item p {
  text-align: justify;
  line-height: 22px;
}
.service-item span {
  color: #ff9800;
}


.client {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 75px 0px;
  background: linear-gradient(315deg, #172e36 0%,#158561 60%, #2c3132 100%);
}
.client-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-item:last-child {
  flex-direction: column;
}
.client-item img {
  height: 200px;
  box-shadow: 0px 0px 7px #333;
}
.client-item p {
  color: #fff;
  font-size: 18px;
}
.client-item h2 {
  font-size: 70px;
  color: #fff;
}


footer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    315deg,
    rgba(255, 189, 53, 1) 0%,
    rgba(237, 148, 0, 1) 50%,
    rgba(255, 189, 53, 1) 100%
  );
  padding: 70px 200px;
}
.links {
  display: flex;
  justify-content: space-between;
}
.links-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.links-item h6 {
  font-size: 16px;
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.links-item a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.links-item a:hover {
  text-decoration: underline;
}
.links-item img {
  width: 100px;
  box-shadow: 0px 0px 5px #ffdead;
}
.medias {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
  margin: 100px 0px;
  border-top: 1px solid #ffdead;
  border-bottom: 1px solid #ffdead;
}
.medias-text {
  display: flex;
}
.medias-text h3 {
  font-size: 40px;
  padding-right: 20px;
  border-right: 2px solid #fff;
  margin-right: 20px;
}
.medias-text p {
  display: flex;
  align-items: center;
}
.medias-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.medias-icons a {
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  cursor: pointer;
  transition: all .5s;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}
.medias-icons a:hover {
  scale: 1.2;
  box-shadow: 0px 0px 15px #ffdead;
}
.medias-icons img {
  width: 20px;
  height: 20px;
}
.legal-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.legal-links a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.legal-links a:hover {
  text-decoration: underline;
}
